
.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/*---Стилизуем HEADER---*/

.header {
  position: relative;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* выше установили ограничения для секции */
  display: flex;
  background-color:  #f2f2f2;
}
.header__link {
  text-decoration: none;
  color:  #2f80ed;
}

.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
}

.header__title {
  align-self: center;
  width: 730px;
  margin-left: 64px;
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
}

.header__subtitle {
  position: absolute;
  bottom: 30px;
  left: 64px;
  width: 388px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.header__main-illustration {
  width: 765px;
  height: 608px;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;
}
/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  position: absolute;
  right: 0;
  top: 64px;
}

/*---Стилизуем MAIN---*/


/*Стилизуем DESCRIPTION*/

.two-columns {
  display: flex;
  width: 80%;
  justify-content: space-between;
  margin: 100px auto 0px;
}

.two-columns__brief {
  width: 175px;
  color:  #2f80ed;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin: 0;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: bold;
}

.two-columns__paragraph:nth-of-type(2) {
  margin: 30px 0;
}

.two-columns__paragraph:nth-child(odd) {
  margin: 0px;
}

/*Стилизуем DIGITS*/

.table {
  display: flex;
  justify-content: space-between;
  margin: auto;
  padding-bottom: 100px;
  width: 1100px;
  flex-wrap: wrap;
}

.table__cell {
  width: 250px;
  margin-top: 60px;
}

.table__heading {
  margin: 0px;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}

.table__text {
  margin: 20px auto 0px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.section-title {
  text-align: center;
  width: 60%;
  padding-top: 100px;
  margin: auto;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
}

.section-subtitle {
  text-align: center;
  width: 60%;
  margin: 20px auto 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

/*Стилизуем FEYNMAN*/

.feynman {
  position: relative;
  min-height: 890px;
  background-color: #f2f2f2;
  background-image: url(../images/feynman.png);
  background-position: bottom left;
  background-size: 867px 637px;
  background-repeat: no-repeat;
}

.feynman__title {
  width: 648px;
  text-align: center;
  margin:auto;
  padding-top: 100px;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
}

.feynman__subtitle {
  margin: 70px auto 0px;
  text-align: center;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}

.feynman__link {
  color: #2f80ed;
  position: absolute;
  right: 48px;
  top: 50%;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-decoration: none;
}

/*Стилизуем KAUFMAN*/

.kaufman {
  background-color: #1f1f1f;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.table_theme_dark {
  padding-bottom: 90px;
}

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

.section-title_theme_dark {
  color: #f2f2f2;
  padding-top: 90px;
}

.section-subtitle_theme_dark{
  color: #f2f2f2;
}

.kaufman__triangle {
  position: absolute;
  top: 0px;
  right: -210px;
  background-size: contain;
  width: 877px;
  height: 877px;
  background-image: url(../images/kaufman-triangle.svg);
  z-index: -1;
}

/*---Стилизуем FOOTER---*/

.footer {
  background-color: hsl(0, 0%, 12%);
  min-height: 350px;
  display: flex;
  align-self: stretch;
}

.footer__columns {
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin: 60px auto 40px;
}

.footer__column-links {
  margin: 20px 0px 16px;
  padding-left: 0px;
}

.footer__column-link {
  line-height: 30px;
  font-size: 18px;
  color: #f2f2f2;
  text-decoration: none;
}

.footer__social-icon {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}

.footer__column_content_copyright {
  flex-basis: 711px;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo_place_footer {
  width: 183px;
  height: 35px;
}

.footer__author {
  color: #f2f2f2;
  margin: 18px 0px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.footer__column-heading {
  color: #f2f2f2;
  line-height: 30px;
  font-size: 18px;
  margin: 0px;
}

